In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql.window import Window

In [67]:
spark = (
      SparkSession.builder \
      .master("local") \
      .appName("Spark") \
      .getOrCreate()
 )

In [86]:
tags = spark.read.csv('tags.csv', header=True, inferSchema=True)
df = spark.read.csv('movies.csv', header=True, inferSchema=True)
rating = spark.read.csv('ratings.csv', header=True, inferSchema=True)

In [90]:
df = df.join(rating, "movieId", "left")

In [85]:
tags.columns

['movieId', 'userId', 'tag', 'timestamp', 'userId', 'rating', 'timestamp']

In [94]:
df = df.drop(col('userId'),(col('timestamp')))

In [88]:
df = df.join(tags, "movieId", "left")

In [91]:
df.columns

['movieId', 'title', 'genres', 'tag', 'userId', 'rating', 'timestamp']

In [101]:
df.filter((col('tag')=='game')).show(truncate=False)

+-------+--------------+--------------------------+----+------+
|movieId|title         |genres                    |tag |rating|
+-------+--------------+--------------------------+----+------+
|2      |Jumanji (1995)|Adventure|Children|Fantasy|game|2.0   |
|2      |Jumanji (1995)|Adventure|Children|Fantasy|game|1.5   |
|2      |Jumanji (1995)|Adventure|Children|Fantasy|game|4.5   |
|2      |Jumanji (1995)|Adventure|Children|Fantasy|game|4.0   |
|2      |Jumanji (1995)|Adventure|Children|Fantasy|game|0.5   |
|2      |Jumanji (1995)|Adventure|Children|Fantasy|game|1.0   |
|2      |Jumanji (1995)|Adventure|Children|Fantasy|game|2.5   |
|2      |Jumanji (1995)|Adventure|Children|Fantasy|game|3.5   |
|2      |Jumanji (1995)|Adventure|Children|Fantasy|game|3.0   |
|2      |Jumanji (1995)|Adventure|Children|Fantasy|game|5.0   |
+-------+--------------+--------------------------+----+------+

In [103]:
df = df.drop(col('rating'))